.main-container
  margin: 20px auto
  width: 1200px
  .page-header
    height: 80px
    background: #f7fbfd
    border: 1px solid #deeefd
    .header-title
      padding-left: 30px
      height: 80px
      line-height: 80px
      font-size: 18px
      color: #666
    .search-btn
      margin: 18px 25px 0 0
  .content-container
    margin-top: 20px
  .topic-nav
    width: 270px
    border: 1px solid #deeefd
    .topic-nav-header
      height: 50px
      line-height: 50px
      background: #f7fbfd
      border-bottom: 1px solid #deeefd
    .topic-icon-item
      margin-right 20px
      &:first-child
        margin-left: 25px
    .topic-icon-text
      font-size: 14px
      color: #666
    .topic-icon
      width: 14px
      height: 14px
      border-radius: 2px
      vertical-align: middle
    .todo
      background: #f7f6f2
      border: 1px solid #e0e0e0
    .correct
      background: #fafff4
      border: 1px solid #5dc477
    .wrong
      background: #fff4f4
      border: 1px solid #ee4b19
    .topic-nav-title
      height: 50px
      line-height: 50px
      font-size: 14px
      color: #666
    .topic-nav-content
      margin-bottom: 30px;
      padding: 0 20px
    .topic-type-item
      margin: 5px
      width: 24px
      height: 24px
      cursor pointer
      &.current
        background: url("./img/current.png") no-repeat
    .topic
      margin: 1px auto
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      color: #999
  .topic-content
    margin-left: 290px
    border: 1px solid #deeefd
    .content-header
      padding-left: 30px
      height: 50px
      line-height: 50px
      background: #f7fbfd
      border-bottom: 1px solid #deeefd
      font-size: 16px
      color: #666
    //.topic-type-text
    .collect-btn
      margin-right: 40px
      font-size: 14px
      color: #666
    .collect-icon
      margin-right: 5px
      font-size: 28px
      color: #ee4b19
      vertical-align: middle
    .topic-item
      margin: 20px 40px
      color: #333
    .topic-title
      line-height: 36px
      font-size: 14px
      color: #333
    .topic-option-item
      height: 30px
      line-height: 40px
    .fill-input
      margin: 10px 0
    .analysis-content
      margin: 0 40px
      padding: 15px 10px
      border: 1px solid #ffcccc
      background: #fff7f7
    .correct-answer
      margin: 10px
      font-size: 14px
      color: #5dc477
    .detail-title
    .point-title
    .analysis-text
    .point-text
      padding-left: 50px
    .detail-title
    .point-title
      line-height: 2.5
      font-size: 14px
      color: #333
    .detail-title
      background: url(./img/analysis-icon.png) no-repeat 10px center
    .point-title
      background: url(./img/point-icon.png) no-repeat 10px center
    .analysis-text
    .point-text
      font-size: 14px
      color: #666
      line-height: 1.67
    .button-group
      margin: 40px