.main-container
  margin: 20px auto
  width: 1200px
  .page-header
    padding-left: 30px
    height: 120px
    background: #f7fbfd
    border: 1px solid #deeefd
    .right-panel
      margin 5px 30px
      width: 109px
      height: 101px
      position: relative
      background: url("./img/score-bg.png") no-repeat
    .achieve-score
      position: absolute
      top: 30%;
      left: 33%;
      color: #ff3b3b
      font-size: 20px
    .total-score
      position: absolute
      top: 67%;
      left: 24%;
      color: #ffffff
      font-size: 12px
  .header-title
    height: 60px
    line-height: 60px
    font-size: 18px
    color: #666
  .topic-nav
    margin-top: 20px
    border: 1px solid #deeefd
    .topic-nav-header
      height: 50px
      line-height: 50px
      background: #f7fbfd
      border-bottom: 1px solid #deeefd
    .topic-header-title
      padding-left: 30px
      font-size: 16px
      color: #666
    .topic-icon-item
      margin-right 30px
      &:first-child
        margin-left: 25px
    .topic-icon-text
      font-size: 14px
      color: #666
    .topic-icon
      width: 14px
      height: 14px
      border-radius: 2px
      vertical-align: middle
    .todo
      background: #f7f6f2
      border: 1px solid #e0e0e0
    .correct
      background: #fafff4
      border: 1px solid #5dc477
    .wrong
      background: #fff4f4
      border: 1px solid #ee4b19
    .topic-nav-title
      height: 50px
      line-height: 50px
      font-size: 14px
      color: #666
    .topic-nav-content
      margin-bottom: 30px;
      padding: 0 30px
    .topic-type-item
      margin: 5px
      width: 24px
      height: 24px
      cursor pointer
      &.current
        background: url("./img/current.png") no-repeat
    .topic
      margin: 1px auto
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      color: #999