#app {
  padding: 20px;
}
.form-left {
  width: 40%;
}
.form-right {
  margin-left: 10%;
}
.address-province,
.address-city {
  width: 140px;
}
.tag-group {
  width: 100%;
  position: absolute;
  left: 105%;
  top: 0;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 178px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.form-text {
  margin-right: 10px;
  width: 50%;
}
.change-phone-form {
  padding: 0 100px;
}
.change-phone-code {
  width: 60%;
}
.dialog-confirm {
  width: 20%;
}
.qr-code {
  padding: 20px;
  width: 160px;
  height: 160px;
  vertical-align: top;
  border: 1px dashed #ccc;
}
.qr-content {
  margin-top: 20px;
  margin-left: 20px;
}
@media screen and (max-width: 1366px) {
  .form-left {
    width: 55%;
  }
}
