#app {
  padding: 20px;
}
.fill-content {
  margin: 30px auto;
  width: 444px;
  height: 330px;
  background: url("./img/trouble_1.png") no-repeat;
  text-align: center;
  color: #999;
}
.page-header {
  border-top: 1px solid #deeefd;
  border-right: 1px solid #deeefd;
  border-left: 1px solid #deeefd;
}
/*======================头部列表======================*/
.course-title-list {
  padding-top: 20px;
  width: 90%;
}
.course-title-list .course-title-item {
  width: 50%;
}
.course-title-list .course-title-item.course-active {
  border-bottom: 2px solid #2192ee;
}
.course-title-list .course-title-item.course-active .course-title,
.course-title-list .course-title-item.course-active .check-attendance {
  color: #2192ee;
}
.course-title-list .course-title {
  padding-right: 10px;
  padding-left: 20px;
}
.course-title-list .check-attendance {
  padding: 10px 0;
  text-align: center;
  color: #666;
}
.course-menu-container {
  width: 60px;
  height: 85px;
  border-left: 1px solid #deeefd;
  background: #f7fbfd;
}
.course-menu-container .dropdown-btn {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: url("./img/arrow-down.png") no-repeat center;
}
.course-menu-container .dropdown-btn.active {
  transform: rotateZ(-180deg);
}
/*======================头部列表======================*/
.page-content {
  position: relative;
  overflow: hidden;
}
/*======================直播课表======================*/
.live-container .live-item {
  margin-bottom: 20px;
}
.live-container .live-date {
  padding-right: 10px;
  width: 90px;
  text-align: right;
  font-size: 18px;
  color: #333;
}
.live-container .live-day {
  padding: 2px 4px;
  font-size: 14px;
  color: #198eee;
  border: 1px solid #198eee;
}
.live-container .live-year {
  margin-top: 5px;
  padding-right: 10px;
  width: 90px;
  text-align: right;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #333;
}
.live-container .bottom-panel {
  margin-top: 15px;
}
.live-container .live-time-container {
  width: 105px;
  height: 180px;
  vertical-align: top;
  background: url("./img/live-border-right.png") no-repeat right top;
}
.live-container .live-time {
  margin-top: 8px;
  padding: 4px 0;
  width: 90px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #198eee;
  border-radius: 20px;
}
.live-container .live-info-container {
  margin-left: 10px;
  width: calc(100% - 105px - 25px);
  height: 180px;
  border-bottom: 1px solid #ccc;
}
.live-container .live-title {
  margin-bottom: 20px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #0d0d0d;
}
.live-container .live-major,
.live-container .live-teacher,
.live-container .live-remark {
  line-height: 2;
  font-size: 12px;
  color: #999;
}
.live-container .tool-btn-group .tool-btn {
  margin: 10px;
  width: 125px;
  display: block;
}
.live-container .live-footer {
  padding: 20px;
  text-align: center;
}
.live-container .load-more {
  padding: 8px 60px;
  font-size: 14px;
  color: #fff;
  background: #ee4b19;
  border-radius: 4px;
}
.live-container .upgrade-course {
  padding: 8px 20px;
  font-size: 14px;
  color: #fff;
  background: #ee4b19;
  border-radius: 4px;
}
/*======================直播课表======================*/
/*======================重播课表======================*/
.rec-container .course-tip {
  height: 37px;
  line-height: 37px;
  font-size: 14px;
}
.rec-container .tip-title {
  color: #999;
}
.rec-container .tip-text {
  color: #333;
}
.rec-container .check-calendar {
  width: 125px;
  color: #198eee;
  border: 1px solid #198eee;
}
.rec-container .search-container {
  padding-left: 20px;
  background: #edf3f7;
}
.rec-container .search-btn {
  left: 200px;
  position: absolute;
  top: 4px;
  width: 80px;
}
.rec-container .el-form-item {
  margin-top: 22px;
}
.rec-container .style-mr15 {
  margin-right: 15px;
}
.rec-container .course-content {
  height: 100px;
  background: #f8f8f8;
  border: 1px solid #eee;
}
.rec-container .course-content .panel-1 {
  padding-top: 15px;
  padding-left: 20px;
}
.rec-container .course-content .panel-2 {
  border-left: 1px solid #eee;
}
.rec-container .course-content .panel-3 {
  margin-top: 24px;
  width: 100px;
}
.rec-container .panel-num,
.rec-container .panel-text {
  text-align: center;
  color: #7eb400;
}
.rec-container .panel-num {
  font-size: 30px;
}
.rec-container .panel-text {
  font-size: 12px;
}
.rec-container .course-section {
  color: #198eee;
  font-size: 14px;
}
.rec-container .course-name {
  margin-top: 8px;
  color: #666;
  font-size: 18px;
}
.rec-container .course-time {
  margin-top: 8px;
  color: #999;
  font-size: 12px;
}
.rec-container .dropdown-icon {
  width: 100px;
  height: 99px;
  transition: 0.5s;
  transform: rotateZ(90deg);
  background: url("./img/arrow-up.png") no-repeat;
}
.rec-container .dropdown-icon.course-active {
  transform: rotateZ(180deg);
}
.rec-container .course-detail {
  height: 75px;
  border: 1px solid #eee;
}
.rec-container .course-detail .panel-1 {
  width: 75px;
  height: 75px;
  vertical-align: top;
  position: relative;
}
.rec-container .course-num {
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #198eee;
  border: 2px solid #198eee;
  border-radius: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.rec-container .course-detail .panel-2,
.rec-container .course-detail .panel-3 {
  margin-top: 24px;
  margin-right: 20px;
}
.rec-container .detail-title {
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}
.rec-container .detail-sub,
.rec-container .detail-time {
  margin-top: 8px;
  color: #999;
  font-size: 12px;
}
/*======================重播课表======================*/
.course-title-dropdown {
  position: absolute;
  right: 2px;
  top: 0;
  transition: 0.5s;
  transform: translateY(-105%);
  background: #fff;
  box-shadow: 0 2px 10px 2px #dfdfdf;
}
.course-title-dropdown .dropdown-item {
  padding: 10px;
  line-height: 1.5;
  color: #999;
  text-align: center;
}
.course-title-dropdown .dropdown-item .course-title {
  font-size: 16px;
}
.course-title-dropdown .dropdown-item .check-attendance {
  font-size: 12px;
}
.course-title-dropdown .dropdown-item:hover {
  cursor: pointer;
  color: #198eee;
  background: #f0f4f7;
}
.course-title-dropdown.active {
  transform: translateY(0);
}
